html[lang='en']{

    #about{
        .fa-arrow-left{
            transform: rotate(180deg);
        }
    }

    #services .text .single-service:before{
        line-height: 20px;
        margin-left: auto;
        margin-right: 10px;
        transform: rotate(180deg);
    }

}
