
html[lang='ar']{

    @import "bootstrap_rtl";
    .bg-right{
        background-position: right!important;
    }
    .ltr{
        direction: ltr;
    }

    ul.bullets {
        li{
            &::before {
                left: auto;
                right: 0;
                top: 7px;
            }
        }
    }

    direction: rtl;
    text-align: right;

    body{
        text-align: right;
    }
    .list-group{
        padding-left: 0;
        text-align: right;
    }
    .dropdown-menu{
        right: 0;
        left: auto;
    }

    .navbar-nav .nav-item + .nav-item{
        margin-right: 0;
    }



    .custom-control{
        margin-left: 3rem;
        margin-right: auto;
    }

    .breadcrumb-item + .breadcrumb-item::before{
        float: right;
    }



    /* Packages page */
    #packages{
        ul.features{
            li{
                &:before{
                    margin: 0 0 0 3px;
                }
            }

        }


        .special{
            &:before{
                top: -6px;
                left: -44px;
                right: auto;
                transform: rotate(-45deg);
            }
        }
    }



    #blog-search{
        i{
            left: 10px;
            right: auto;
        }
    }



    #pagination{
        ul{
            li.page-item{
                &.page-item:last-child .page-link {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 100px;
                    border-bottom-left-radius: 100px;
                }
                &.page-item:first-child .page-link {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 100px;
                    border-bottom-right-radius: 100px;
                }
            }
        }
    }


}
