@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


/**********************
      variables
***********************/

$theme-colors: (
    primary : #186478,
    secondary: #323232,
    success : #1ec78f,
    danger  : #ea6958,
    warning : #FF9F43,
    dark    : #0b151f,

    gray: #6a6a6a,
    m-gray: #B7B7B7,
    l-gray: #f9f9f9,
    d-gray: #333,
    offwhite: #f5f5f5,
    transparency: rgba(0, 0, 0, 0),
    bodyText: #010101
);
:root {
    --primary: map-get($theme-colors, primary);
    --secondary: map-get($theme-colors, secondary);
    --gray: map-get($theme-colors, gray);
    --d-gray: map-get($theme-colors, d-gray);
    --offwhite: map-get($theme-colors, offwhite);
}

$body-bg: #eee;
$body-color: map-get($theme-colors, bodyText);
$font-family-sans-serif: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-bolder:          900;


$enable-responsive-font-sizes: true;

// links colors
$link-color:                 rgba(map-get($theme-colors, primary),1);
$link-hover-color:                        darken($link-color, 15%) !default;

$link-hover-decoration:      none;
a{outline: none;}

$input-btn-focus-color:       rgba(map-get($theme-colors, secondary), .25) !default;
$input-btn-focus-width :0.1rem;

$input-btn-focus-color: map-get($theme-colors, primary);

.bg-contain,
.bg-cover{
    background-position: center center;
    background-repeat: no-repeat!important;
}
.bg-contain{
    background-size: contain!important;
}

.bg-cover{
    background-size: cover!important;
}


select option,
:focus{
    outline: none;
}

// border radius
$border-radius: 3px;
$border-radius-lg: 5px;
$border-radius-sm: 2px;


// Transition
$transition-normal: 0.3s;
$transition-fast: 0.1s;
$transition-slow: 0.5s;

// font size
$enable-responsive-font-sizes: true;

html {
    font-size: calc(10px + 0.4vw);
}


// scrollbar
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(map-get($theme-colors, primary),0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: map-get($theme-colors, primary);
}
::selection{
    background:  map-get($theme-colors, primary);
    color: #fff
}


.center-justify {
    text-align-last: center;
}
