/**********************
      Imports
***********************/


@import "variables";
// Bootstrap and its default variables
@import "../vendors/bootstrap/scss/bootstrap";
@import "_ltr";
@import "_rtl";

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.font-en {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-gradient {
    background: map-get($theme-colors, secondary);
    background: linear-gradient(90deg, map-get($theme-colors, primary) 0%, map-get($theme-colors, secondary) 50%, map-get($theme-colors, primary) 100%);
    color: #fff;
    border: 0;
    transition: background-position $transition-normal ease-in-out;
    background-size: 200% 100%;

    &:hover {
        background-position: 100% 0;
    }
}


.custom-control-label::after {
    position: absolute;
    top: 0;
    left: -1.5rem;
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    content: "";
    background: no-repeat 120%/80% 55%;
}

.custom-control-label::before {
    width: 1.3rem;
    height: 1.3rem;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: var(--secondary);
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background: var(--secondary);
    border-color: var(--secondary);
}


.custom-control {
    margin-right: 3rem;
    margin-left: auto;
}

// Global changes


.cursor-pointer {
    cursor: pointer;
}
.box-shadow-none {
    box-shadow: none !important;
}

.logo-white {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(-80deg) brightness(495%) contrast(300%);
}




#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background: var(--primary);
    background: #fff;
    z-index: 99999;
    transition: all 0.3s ease-in;
    visibility: visible;
    opacity: 1;

    &.hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s linear, opacity 0.5s linear;
    }

    .loader {
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        perspective: 800px;
    }

    .inner {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .inner.one {
        left: 0%;
        top: 0%;
        animation: rotate-one 1s linear infinite;
        border-bottom: 5px solid #fff;
    }

    .inner.two {
        right: 0%;
        top: 0%;
        animation: rotate-two 1s linear infinite;
        border-right: 5px solid #fff;
    }

    .inner.three {
        right: 0%;
        bottom: 0%;
        animation: rotate-three 1s linear infinite;
        border-top: 5px solid #fff;
    }
}
@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}



nav.navbar  {
    .navbar-brand img {
        height: 70px;
    }

    .nav-item {
        position: relative;

        .nav-link {
            &:not(.btn) {
                color: var(--d-gray);
            }
        }
        &:hover {
            .nav-link {
                color: var(--secondary);
            }
        }
        &:hover.active,
        &.active {
            .nav-link {
                color: var(--primary);
            }
        }
    }

    &.fixed-top {
        box-shadow: 0 0 20px #bbb;
        animation: slideDownNavbar 0.5s;

        .navbar-brand img {
            height: 40px;
        }

    }
    &.animate{
        transition: all 0.5s ease-in-out;
    }

}



#features{
    .single-feature{
        transition: all 0.3s ease-in-out;

        img{
            width: 120px;
        }

        &:hover{
            box-shadow: 0 5px 10px #ddd;
            transform: scale(1.02);
        }
    }
}


#why-us{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../images/why-us-rocket.png");
        background-repeat: no-repeat;
    }
}

.circle {
    display: inline-block;
    min-width: 15%;
    /* to allow placement of numbers on top of circles instead of below them */
    white-space: nowrap;
}




#clients{
    transform: translateY(-90px);
    .single-client{
        .image-holder{
            position: relative;
            border-radius: 50%;
            height: 0;
            padding-bottom: 90%;
            width: 90%;


            img{
                max-width: 150px;
                position:absolute;
                top:50%; left:50%;
                transform: translate(-50%, -50%);
                margin:0;
            }

        }

        a{
            color: #fff;
            display: inline-block;
            width: 35px;
            height: 35px;
            border: 2px solid;
            padding: 0;
            margin: 5px;
            border-radius: 50%;
            line-height: 30px;
            font-size: 20px;
            text-align: center;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: var(--secondary);
            }
        }
    }

    &:before{
        content: '';
        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        bottom: 120px;
        background-color: var(--primary);
        z-index: -1;
    }


    #counter{
        .single-counter{
            img{
                height: 70px;
            }
        }
    }
}


// large screens
@media screen and (min-width: 992px) {

    .min-width-btn{
        min-width: 150px;
    }



    #why-us{
        padding: 150px 0;

        &:before{
            background-position: 120% center;
        }
    }

}

// small screens
@media screen and (max-width: 991px) {

    .min-width-btn{
        min-width: 100px;
    }

    #why-us{
        padding: 50px 0;

        &:before{
            background-position: 60% center;
            opacity: 0.4;
        }
    }



    nav {
        box-shadow: 0 0px 20px #bbb;

        .navbar-brand img {
            height: 60px;
        }

        &.fixed-top {
            .navbar-brand img {
                height: 40px;
            }
        }
    }





    #clients{
        transform: translateY(0);
        .single-client{
            .image-holder{
                padding-bottom: 70%;
                width: 70%;

                img{
                    max-width: 70%;
                }
            }
        }

        /*&:before{
            top: 0;
            bottom: 0;
        }*/
    }

}

#scroll-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    align-items: center;
    display: none;

    &.show{
        display: block;
        animation: slideDown 0.5s;
    }
}
@keyframes slideDownNavbar {
    0%{
        top: -100px
    }
    100%{
        top: 0
    }
}
@keyframes slideDown {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
